.account .account-all {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  
  .login-title {
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .login-desc {
    margin-bottom: 20px;
  }
  
  .account-left form>input {
    width: 618px;
    height: 40px;
    border: solid 1px #dee0ea;
    padding-left: 20px;
  }
  
  .account-left form {
    margin-bottom: 30px;
  }
  
  .account-left .personal-subject {
    margin-bottom: 30px;
  }
  
  .account-right button {
    padding: 15px 40px;
    font-size: 12px;
    background-color: white;
    color: rgba(0, 0, 0, 0.888);
    margin-bottom: 30px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.888);
  }
  
  .account-right button:hover {
    opacity: 0.7;
    transition: ease all 0.4s;
    color: rgba(0, 0, 0, 0.888);
  }
  
  .account-left button {
    padding: 15px 40px;
    font-size: 13px;
    background-color: rgba(0, 0, 0, 0.888);
    color: white;
    cursor: pointer;
    border: none;
  }
  
  .account-left button:hover {
    opacity: 0.8;
    transition: ease all 0.4s;
  }
  
  .account-right .login-desc {
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 40px;
  }
  
  .account-left .login-desc {
    font-size: 14px;
  }
  
  .account-left .personal-information-title {
    font-size: 14px;
  }
  
  .remember-me {
    font-size: 12px;
    margin-bottom: 20px;
    margin-top: -20px;
    display: flex;
    align-items: center;
  }
  
  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
  
  .remember-me span {
    cursor: pointer;
    width: 100% !important;
    display: flex;
    flex-direction: row;
  }

  .remember-me label{
    display: flex;
    gap: 3px;
    width: 100px;
    align-items: center;
  }
  
  .remember-me input {
    border-radius: 50px;
    cursor: pointer;
    width: 25% !important;
    height: 25%;
  }
  
  .account-lost {
    font-size: 12px;
    color: rgb(199, 19, 19);
  }
  
  
  
  @media (max-width:768px) {
    .account-all {
      flex-direction: column;
    }
  }
  
  @media (max-width:900px) {
    .account-all {
      flex-direction: column;
    }
  }
  
  @media (max-width: 768px) {
    .account-all {
      flex-direction: column;
    }
  
    .account-left form>input,
    .account-left button,
    .account-right button {
      width: 100%;
    }
  
    .account-left .personal-subject {
      margin-bottom: 20px;
    }
  
    .account-left .login-button button {
      margin-top: 20px;
    }
  }
  
  .account-personal-information {
    margin-bottom: 30px;
  }

  .account-personal-information form{
    margin-bottom: 0px;
  }

  .account-name-last-name{
    margin-bottom: 20px;
  }

  input[type="password"] {
    outline: none;
}