.account-register .account-register-all {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  
  .login-title {
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .login-desc {
    margin-bottom: 20px;
  }
  
  .account-register-left form>input {
    width: 618px;
    height: 40px;
    border: solid 1px #dee0ea;
    padding-left: 20px;
  }
  
  .account-register-left form {
    margin-bottom: 30px;
  }
  
  .account-register-left .personal-subject {
    margin-bottom: 10px;
  }
  
  .account-register-right button {
    padding: 15px 40px;
    font-size: 12px;
    background-color: white;
    color: rgba(0, 0, 0, 0.888);
    margin-bottom: 30px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.888);
  }
  
  .account-register-right button:hover {
    opacity: 0.7;
    transition: ease all 0.4s;
    color: rgba(0, 0, 0, 0.888);
  }
  
  .account-register-left button {
    padding: 15px 40px;
    font-size: 13px;
    background-color: rgba(0, 0, 0, 0.888);
    color: white;
    cursor: pointer;
    border: none;
  }
  
  .account-register-left button:hover {
    opacity: 0.8;
    transition: ease all 0.4s;
  }
  
  .account-register-right .login-desc {
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 40px;
  }
  
  .account-register-left .login-desc {
    font-size: 14px;
  }
  
  .account-register-left .personal-information-title {
    font-size: 14px;
  }
  
  .remember-me {
    font-size: 12px;
    margin-bottom: 20px;
    margin-top: -20px;
    display: flex;
    align-items: center;
  }
  
  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
  
  .remember-me span {
    cursor: pointer;
  }
  
  .remember-me input {
    border-radius: 50px;
    cursor: pointer;
  }
  
  .account-register-lost {
    font-size: 12px;
    color: rgb(199, 19, 19);
  }
  
  .address-register form>input {
    height: 200px;
    padding-bottom: 145px;
  
  }
  
  
  @media (max-width:768px) {
    .account-register-all {
      flex-direction: column;
    }
  }
  
  @media (max-width:900px) {
    .account-register-all {
      flex-direction: column;
    }
  }
  
  @media (max-width: 768px) {
    .account-register-all {
      flex-direction: column;
    }
  
    .account-register-left form>input,
    .account-register-left button,
    .account-register-right button {
      width: 100%;
    }
  
    .account-register-left .personal-subject {
      margin-bottom: 20px;
    }
  
    .account-register-left .login-button button {
      margin-top: 20px;
    }
  }
  
  .account-register-personal-information {
    margin-bottom: 30px;
  }