.blogarea .blog-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.blogarea .blog-wrapper .single-blog {
  background-color: #00000019;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 350px;
  border-radius: 40px;
  cursor: pointer;
}

.blogarea .blog-wrapper .single-blog {
  display: flex;
  flex-direction: column;
  transition: ease 0.3s ;
  will-change: transform;
  backface-visibility: hidden;
}

.blogarea .blog-wrapper .single-blog:hover {
  transform: scale(1.01);
  transition: 0.4s ease;
}

.blogarea .blog-wrapper .single-blog1 {
  justify-content: center;
  align-items: center;
  background-image: url("https://i.ibb.co/wNmQykC/output-onlinepngtools-1.png");
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.3px;
}

.blogarea .blog-wrapper .single-blog1 h1 {
  margin-bottom: 10px;
  margin-top: -60px;
  padding: 0 30px;
}

.blog-text1 {
  padding: 0 30px;
}

.blogarea .blog-wrapper .single-blog2 {
  justify-content: center;
  align-items: center;
  background-image: url("https://i.ibb.co/ykV5psn/output-onlinepngtools-2.png");
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.3px;
}

.blogarea .blog-wrapper .single-blog2 h1 {
  margin-bottom: 10px;
  margin-top: -60px;
  padding: 0 30px;
}

.blog-text2 {
  padding: 0 30px;
}

.blogarea .blog-wrapper .single-blog3 {
  justify-content: center;
  background-color: #9c116253;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.3px;
}

.blogarea .blog-wrapper .single-blog3 h1 {
  margin-bottom: 10px;
  margin-top: -100px;
  padding: 0 30px;
}

.blog-text3 {
  padding: 0 30px;
}

.blogarea .blog-wrapper .single-blog4 {
  justify-content: center;
  background-color: #c97a1253;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.3px;
}

.blogarea .blog-wrapper .single-blog4 h1 {
  margin-bottom: 10px;
  margin-top: -70px;
  padding: 0 30px;
}

.blog-text4 {
  padding: 0 30px;
}

@media only screen and (max-width: 1200px) {

  .blogarea .blog-wrapper {
    grid-template-columns: 1fr 1fr;
  }


  
}

@media only screen and (max-width: 1000px) {


  .blogarea .blog-wrapper .single-blog2 h1 {
    margin-bottom: 10px;
    margin-top: -40px;
    padding: 0 30px;
  }

  
}

@media only screen and (max-width: 768px) {
  .blogarea .blog-wrapper {
    grid-template-columns: 1fr;
  }

  .blogarea .blog-wrapper .single-blog p {
    font-size: 16px;
  }

  .blogarea .blog-wrapper .single-blog2 h1 {
    margin-bottom: 10px;
    margin-top: -80px;
    padding: 0 30px;
    padding-top: 40px;
  }
  .blogarea .blog-wrapper .single-blog3 h1 {
    margin-bottom: 10px;
    margin-top: -30px;
    padding: 0 30px;
  }

  .blogarea .blog-wrapper .single-blog4 h1 {
    margin-bottom: 10px;
    margin-top: 0px;
    padding: 0 30px;
  }
}

/* Blogs.css */
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
  
}

.modal-content {
  background-color: #fefefe;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 40px;
}

@media only screen and (max-width: 768px)  {
  .modal-content {
    margin-top: 10%;
    margin-bottom: 10%;
  }
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-blog {
  padding: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.modal-text {
  padding: 0;
  font-weight: 400;
}

.modal-text-span{
  font-weight: 600;
}

