.shop-table thead {
  border-bottom: 1px solid #dee0ea;
}

.single-topbar {
  margin-top: 15px;
}

.single-product .breadcrumb ul {
  display: flex;
}

.single-product .breadcrumb ul li {
  font-size: 12px;
}

.single-product .breadcrumb ul li:not(:last-child):after {
  content: "/";
  color: #dee0ea;
  margin: 0 5px;
}

.single-product .breadcrumb ul li a:hover {
  color: black;
  text-decoration: underline;
}

.site-main {
  display: flex;
  gap: 60px;
  margin-bottom: 70px;
}

.product-gallery {
  width: 70%;
  gap: 5px;
  margin-top: 10px;
  max-height: 400px;
}

.single-image-wrapper {
  overflow: hidden;
  width: 100%;
  }

.single-image-wrapper img {
  width: 100%;
  object-fit: cover;
  transform-origin: center;
  height: 500px;
}

.single-image-wrapper img:hover {
  cursor: zoom-in;
}

.gallery-thumbs .splide__slide {
  width: 100%;
}

.gallery-thumbs {
  display: flex;
  flex-direction: row;
}

.single-product .splide__track{
  height: 100%;
}

.single-side-image, .single-side-image > li{
  height: 80px;
}


.splide .splide__arrow {
  background-color: transparent;
}

.single-product li img {
  border: 1px solid transparent;
  width: 100%;
  cursor: pointer;
  height: 100%;
  object-fit: cover;
}

.single-product .gallery-thumbs li img.active {
  opacity: 0.7;
}

.single-product .gallery-thumbs li img:hover {
  opacity: 0.7;
  transition: ease 0.3s;
}

.product-info {
  width: 50%;
}

.product-info h1 {
  font-size: 40px;
}

.product-info .reviews {
  display: flex;
  gap: 10px;
  flex-direction: row;
}

.product-info .item-rating {
  font-size: 25px;
}

.product-desc-content {
margin-bottom: -40px;
}

.product-info .item-reviews {
  font-size: 15px;
  text-align: center;
  line-height: 38px;
  font-weight: 500;
  cursor: pointer;
}

.product-price {
  font-size: 25px;
  font-weight: 500;
}

.product-desc-title {
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}
.cargo-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 500;
}

.single-add {
  background-color: #11ab66;
  padding: 12px 130px;
  color: white;
  font-size: 17px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: ease 0.3s;
}

.single-add:hover {
  background-color: #10bb6e;
  transition: ease 0.3s;
}

.single-add:disabled {
  background-color: #11ab66;
}

.single-quantity {
  padding-left: 8px;
  padding-right: px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 23px;
  border: none;
  font-size: 15px;
  position: relative;
  height: 50px;
  font-weight: 600;
}

.qty-wrapper {
  display: flex;
  border: 1px solid #dee0ea;
}

.qty-wrapper i {
  font-size: 15px;
  font-weight: 600;
}

.qty-plus {
  padding: 10px;
  padding-right: 13px;
  padding-left: 13px;
  height: 50px;
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 11px;
  font-weight: 500;
  padding-bottom: 1px;
  vertical-align: middle;
  margin: 0;
  padding-bottom: 7.5px;
}

.qty-minus {
  padding: 13px;
  height: 50px;
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 10px;
  font-weight: 500;
  padding-bottom: 10px;
  vertical-align: middle;
  margin: 0;
}

.qty-minus:hover {
  background-color: #dee0ea;
  transition: ease 0.3s;
}

.qty-plus:hover {
  background-color: #dee0ea;
  transition: ease 0.3s;
}

.single-add-wrapper {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.single-add-wrapper input:focus {
  outline: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

.single-add {
  margin-left: 10px;
}

.product-details-wrapper summary {
  margin-top: 20px;
  cursor: pointer;
  overflow: hidden;
  font-weight: 500;
}

.product-details-wrapper {
  margin-left: -15px;
  border-bottom: 1px solid #dee0ea;
  width: 465px;
  margin-top: 30px;
}

.pdw2 {
  margin-top: -20px;
}

.product-details-wrapper summary {
  padding: 1rem;
  display: block;
  padding-left: 2.2rem;
  position: relative;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1px;
}

.product-details-wrapper .summarytext {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.2px;
  display: none;
}

.summarytext {
  margin-bottom: -55px;
}

.summarytext2 {
  display: none;
  margin-bottom: -55px;
}

.product-details-wrapper .summarytext h3 {
  margin-bottom: 15px;
  margin-top: 15px;
  font-weight: 600;
}

.product-details-wrapper .summarytext p {
  margin-bottom: 30px;
}

.product-details-wrapper .summarytext h4 {
  margin-top: -5px;
  margin-bottom: 10px;
}

.product-details-wrapper summary:before {
  content: "";
  border-width: 0.4rem;
  border-style: solid;
  border-color: transparent transparent transparent #000000;
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: 0.2rem 50%;
  transition: 0.25s transform ease;
}

.product-details-wrapper details[open] > summary:before {
  transform: rotate(90deg);
}

.product-details-wrapper details summary::-webkit-details-marker {
  display: none;
}

.gallery-thumbs li {
  flex-shrink: 0;
}

.wishlist-wrapper {
  font-size: 12px;
  margin-top: 7px;
  color: #7a7b85;
}

.wishlist-wrapper i {
  margin-right: 4px;
}

.wishlist-wrapper a {
  color: #7a7b85;
}

@media only screen and (max-width: 768px) {
  .gallery-thumbs img {
    height: 100px;
  }
  .gallery-thumbs {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .gallery-thumbs {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    height: auto;
  }
  .site-main {
    flex-direction: column;
    gap: 20px;
  }

  .product-thumb {
    width: 100%;
  }

  .single-product .product-gallery,
  .product-info {
    width: 100%;
    padding: 0;
    display: block;
  }

  .single-product .product-gallery {
    margin-top: 7px;
    margin-bottom: 100px;
    max-height: 480px !important;
  }

  .single-image-wrapper {
    margin-bottom: 7px;
  }

  .single-product .gallery-thumbs {
    flex-direction: row;
    gap: 0px;
    max-height: 100px;
  }

  .single-product .gallery-thumbs li {
    width: 100%;
  }

  .single-image-wrapper {
    width: 100%;
  }

  .product-info h1 {
    font-size: 32px;
  }

  .product-info .item-rating {
    font-size: 20px;
  }

  .product-info .item-reviews {
    font-size: 14px;
    line-height: initial;
  }

  .product-price {
    font-size: 20px;
  }

  .product-desc-title {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 12px;
  }

  .product-desc-content {
    margin-bottom: 20px;
  }

  .single-add {
    padding: 17px 40px;
    font-size: 17px;
    width: 70%;
    text-align: center;
  }

  .single-quantity,
  .single-add-wrapper input {
    width: 25px;
    font-size: 14px;
  }

  .single-add-wrapper input {
    padding-left: 10px;
  }

  .single-image-wrapper {
    position: relative;
  }

  .single-image-wrapper img {
    width: 100%;
    display: block;
  }

  .gallery-thumbs {
    display: flex;
    gap: 14px;
  }

  .gallery-thumbs li {
    width: 63.1px;
    display: inline-block;
  }

  .single-add-wrapper {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .single-add {
    margin-top: 10px;
    margin-left: 0;
    width: 100%;
  }

  .product-details-wrapper {
    border-bottom: 1px solid #dee0ea;
    width: 100%;
    margin-top: 30px;
    text-align: center;
    margin-left: 0px;
  }

  .pdw2 {
    margin-top: -17px;
  }

  .wishlist-wrapper {
    align-items: center;
    justify-content: center;
    display: flex;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .product-gallery {
    display: block;
    margin-bottom: 80px;
  }

  .single-add {
    padding: 12px 100px;
  }

  .gallery-thumbs {
    display: flex;
    flex-direction: row;
    width: 70%;
  }

  .site-main {
    margin-bottom: 70px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .gallery-thumbs li {
    width: 110%;
  }

  .gallery-thumbs {
    width: 70%;
    gap: 4px;
    display: flex;
    flex-direction: row;
  }

  .product-thumb {
    max-height: 393.3px;
    height: 180px;
  }

  .product-gallery {
    display: block;
    margin-bottom: 80px;
    width: 100%;
  }

  .product-info {
    width: 100%;
  }

  .single-image-wrapper {
    width: 100%;
  }

  .single-review-wrapper {
    margin-top: -80px;
  }

  .product-desc-content {
    display: none;
  }

  .product-desc-title {
    display: none;
  }

  .single-add-wrapper {
    height: 50px;
  }

  .site-main {
    gap: 10px;
    display: block;
  }

  .single-add-wrapper {
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    gap: 10px;
    align-items: center;
  }

  .single-add {
    margin-left: 0;
    width: 100%;
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .qty-wrapper {
    display: block;
    justify-content: center;
    align-items: center;
    width: 13%;
  }

  .wishlist-wrapper {
    margin-top: 60px;
    margin-bottom: -20px;
  }

  .summarytext {
    width: 85%;
  }

  .product-gallery {
    margin-bottom: 200px;
  }
}

.cargo-wrapper svg {
  width: 25px;
  margin-right: -5px;
}

.single-review-wrapper {
  margin-top: 20px;
}

.product-details-wrapper {
  width: 100%;
}

.product-details-wrapper .summarytext {
  width: 100%;
}

/*! Topbar End */

/*! Single Product Reviews */

.reviews-title {
  font-size: 35px;
  font-weight: 600;
  margin-top: 20px;
}

.single-review-wrapper .review-stars {
  display: flex;
  margin-top: 10px;
}

.single-review-wrapper .review-stars svg {
  fill: #ffc800;
}

.personal-ratingby svg {
  fill: #ffc800;
}

.single-review-wrapper .reviews .item-rating {
  font-size: 22px;
  margin-bottom: -5px;
}

.single-review-wrapper .reviews .item-reviews {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
}

.single-details-wrapper details > summary {
  list-style: none;
}

.single-details-wrapper details > summary::-webkit-details-marker {
  display: none;
}

.single-details-wrapper summary {
  background-color: rgba(0, 0, 0, 0.888);
  color: white;
  font-weight: 600;
  font-size: 17px;
  padding-left: 10px;
  width: 180px;
  padding-right: 10px;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 11px;
}

.single-review-top {
  border-bottom: 1px solid #dee0ea;
  padding-bottom: 20px;
}

.single-details-wrapper-desc input {
  width: 100%;
  height: 40px;
  border: 1px solid #dee0ea;
  padding-left: 20px;
  font-weight: 500;
}

.single-details-wrapper .personal-information-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 10px;
}

.single-details-wrapper .personal-message textarea {
  height: 250px;
  margin-bottom: 10px;
  text-align: start;
  width: 100%;
  border: 1px solid #dee0ea;
  padding-left: 20px;
  padding-top: 10px;
  font-weight: 500;
  resize: none;
}

.single-details-wrapper .personal-message textarea:focus {
  outline: none;
}

.single-details-wrapper .send-button button {
  background-color: rgba(0, 0, 0, 0.888);
  color: white;
  font-weight: 600;
  font-size: 15px;
  width: 180px;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 11px;
  cursor: pointer;
  outline: none;
}

.single-details-wrapper summary {
  cursor: pointer;
}

.single-details-wrapper .send-button {
  width: 180px;
}

.single-details-wrapper .personal-ratingby svg {
  cursor: pointer;
}

.single-details-wrapper .personal-ratingby ul {
  display: flex;
}

.single-comment-stars ul {
  display: flex;
}

.single-comment-stars svg {
  fill: #ffc800;
}

.single-comments-item {
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #dee0ea;
  padding-bottom: 50px;
  font-weight: 500;
}

.single-comment-message {
  margin-top: 10px;
}

.single-comment-message h3 {
  margin-bottom: 7px;
  font-size: 17px;
  font-weight: 600;
}

.single-comments-item .single-comment-atime {
  font-size: 11px;
  display: flex;
  gap: 3px;
  font-weight: 600;
  font-style: italic;
  margin-top: 10px;
}
